#app-id{
    display:grid;
    grid-template-columns: 30% auto 15% 15%;
    margin:auto;

    #icon{
        padding:0;
        margin:0 auto 10px auto;
        font-size:1.6em;
        color:darkorange;
        align-self: flex-start;
        justify-self:center;
        display: block;
    }

    #name{
        font-size: 0.8em;
        font-family: fantasy;
        color:darkorange;
    }
    #named-icon{
        grid-column: 2/2;
        justify-self: center;
    }

    #icon:hover{
        color: black;
    }
    #home,#trends,#history{
        justify-self: start;
        color:grey;
    }

}